{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>Steph's Blog</title>
  </head>
  <body>
    <h1><a href="/">Steph's blog</a></h1>

    {% for post in posts %}
      <p>Published: {{ post.published_date }}</p>
      <h3><a href="">{{ post.title }}</a></h3>
      <p>{{ post.text|linebreaks }}</p>
    {% endfor %}
  </body>
</html>